.login {
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #363740;
    height: 100vh;
    width: 100vw;
  }
  &-form {
    display: flex;
    flex-basis: 380px;
    flex-direction: column;
    padding-top: 150px;
    padding-bottom: 92px;
    padding-left: 32px;
    padding-right: 32px;
    background: white;
    border-radius: 8px;
    &__title {
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 12px;
    }

    &__subtitle {
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      color: #9fa2b4;
      letter-spacing: 0.3px;
      margin-bottom: 48px;
    }
  }
}
