.dashcard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-basis: 23%;
  width: 23%;
  background: white;
  border: 1px solid #dfe0eb;
  border-radius: 8px;
  padding: 24px 0px;
  &__title {
    font-weight: 700;
    font-size: 19px;
    color: #9fa2b4;
  }
  &__amount {
    font-weight: 700;
    font-size: 40px;
  }
  &:hover {
    color: #3751ff;
    border: 1px solid #3751ff;
    .dashcard__title {
      color: #3751ff;
    }
  }
}

.dashboard-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
